@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tablinks {
  border-radius: 12px;
}

.tab {
  width: 800px;
  margin: auto;
}

.intro {
  width: 800px;
  margin: auto;
}

.tabcontent {
  width: 800px;
  margin: auto;
  animation: fadeEffect 1s;
}
